body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    display: inline;
    padding-left: 4vw;
    font-size: xxx-large;
    margin-right: 38vw;
    font-family: 'Lobster', cursive;
}

h3{
    margin: 0;
    text-align: center;
    padding-top: 2vh;
}

ul{
    text-align: right;
    padding-right: 3vw;
}

li{
    padding: 1vw;
    font-family: 'Arvo', serif;
}

.abouthead,.projhead,.servhead,.contacthead{
    font-family: 'Satisfy', cursive;
}

.pdesc{
    font-family: 'Indie Flower', cursive;
}

.aboutdesc{
    font-family: 'Cardo', serif;
}

header{
    width: 100vw;
    height: 10vh;    
    color: white;
    padding-top: 3vh;
    border-bottom: 5px solid grey;   
    position: fixed; 
    opacity: 0.96;
    background-color: black;
}

.myheading{
    font-size: xxx-large;
    font-family: 'Roboto Slab', serif;
    text-shadow: 5px 5px 10px purple;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(44, 43, 43, 0.107));
}

.mcaption{
    font-style: italic;
}

a:visited{
    color: white;
}

.content{
    width: 100vw;
    height: 82vh;
    background-color: black;
    padding-top: 18vh;       
}

.intcont{
    height: 80vh;
    width: auto;    
}

.cont1{    
    color: white;
}

.mtext{
    display: block;
    margin-left: 8vw;
    margin-right: 0vw;
    margin-top: 30vh;    
}

.mypic{
    width: auto;
    height: 70vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    float: left;
    /* border: 2px solid green; */
    border-radius: 45px;
    margin-left: 10vw;
    box-shadow: -0px -0px 60px white;    
}

.aboutsection{
    width: 100vw;
    height: 40vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,182,183,1) 0%, rgba(244,238,227,1) 100%);
    text-align: center;
}

.abouthead{
    margin: 0;
    padding-top: 8vh;
    padding-bottom: 5vh;
    font-size: xxx-large;
}

.aboutdesc{
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: justify;
}

.projhead{
    font-weight: 600;
    font-size: xxx-large;
}

.projectssection{
    width: 100vw;
    height: 150vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,234,234,1) 0%, rgba(231,200,142,1) 100%);
    text-align: center;
}

.cardsection{
    width: 100vw;
    height: auto;
    /* column-gap: 2px; */
}

.card{
    width: 85%;
    height: 50vh;
    background-color: rgb(146, 212, 243);   
    place-self: center;
    border: 8px solid brown;
    border-radius: 25px;
    box-shadow: 10px 10px  grey;
}

.weblogo{
    width: 100%;
    height: 8vh;
    background-color: #fff;
    margin-top: 5vh;
}

.visit{
    margin-top: 5vh;
    font-family: 'Bree Serif', serif;
    font-size: larger;
    width: 40%;
    height: 6vh;
    border-radius: 15px;
    box-shadow: 10px 10px 20px grey;
    cursor: pointer;
}

.webdesc{
    width: 80%;
    height: 30vh;
    background-color: #64f3db;
    place-self: center;
    margin-top: 5vh;
    text-overflow: inherit;
    text-align: justify;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 3.5vh;
    padding-bottom: 5vh;    
    border: 2px solid blue;
    border-radius: 8px;
    box-shadow: 15px 20px 30px black;
}

.pic{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.projhead{
    margin-top: 0;
    padding-top: 5vh;
    padding-bottom: 2.5vh;
}

.servicessection{
    width: 100vw;
    height: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(183,237,116,1) 0%, rgba(255,255,255,1) 100%);
    text-align: center;
}

.servhead{
    margin:0;
    padding-top: 5vh;
    font-size: xxx-large;
}

.servcard{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    border: 3px solid brown;
    font-family: 'Acme', sans-serif;
    place-content: center;
    align-self: center;
    justify-content:center ;
    justify-self: center;
    box-shadow: 5px 6px 20px black;
}

.contactsection{
    width: 100vw;
    height: 45vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(219,146,227,1) 100%);
    text-align: center;
    place-content: center;
}

.formcard{
    width: 50%;
    height: 30vw;
    background-color: #FFF5EE;
    place-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    padding-left: 55px;
    border: 3px dashed rgb(112, 110, 74);
}

.contacthead{
    margin: 0;
    padding-top: 5vh;
    margin-bottom: 4vh;
    font-size: xxx-large;
}

.formele{
    display: inline;
}

.field{
    margin-left: 30px;
}

label{
    margin-left: 2vw;
}

.submitbtn{
    width: 10vw;
    height: 5vh;
    border: 2px solid black;
    border-style: groove;
    border-radius: 20px;
}

footer{
    width: 100vw;
    height: 10vh;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(153,134,80,1) 0%, rgba(251,251,251,1) 100%);
}

@media screen and (min-width: 800px){
    ul,li{
        display: inline;
        text-align: right;    
    }
    
    .content{
        display: grid;
        grid-template-columns: 50vw 50vw; 
    }
    .cont1{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .card:hover{
        width: 86%;
        height: 51.5vh;
        transition: width 0.5s, height 0.5s;
        box-shadow: 15px 18px 15px rgb(129, 129, 11)
    }
    .cardsection{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .visit:hover{
        width: 43%;
        height: 7vh;
        transition: width 0.5s, height 0.5s;
        background-color: #82f882;
        box-shadow: 10px 10px 20px rgb(54, 93, 132);
    }
    .servgrid{
        display: grid;
        grid-template-columns: 33.33vw 33.33vw 33.33vw;
        grid-template-rows: 1fr 1fr;
        column-gap: 1px;
        row-gap: 1px;    
        width: 100%;
        min-height: 60vh;
    }

    /* construction area */

    .s1{
        position: relative;
        animation-name: example1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
  
    @keyframes example1 {
        0%   {background-color:rgb(228, 134, 134); color:black; left:0px; top:0px;}
        15%  {background-color:rgb(228, 228, 150); color:black; left:33.33vw; top:0px;}
        30%  {background-color:rgb(131, 131, 218); color:black; left:66.66vw; top:0px;}
        45%  {background-color:rgb(166, 234, 166); color: black; left:66.66vw; top:30vh;}
        62% {background-color:rgb(227, 169, 169); color: black; left:33.33vw; top:30vh;}
        84% {background-color:rgb(224, 133, 249); color: black; left:0px; top:30vh;}
        100% {background-color:rgb(193, 248, 181); color: black; left:0px; top:0px;}
    }

    .s2{
        position: relative;
        animation-name: example2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
  
    @keyframes example2 {
        0%   {background-color:rgb(228, 134, 134); color:black; left:0px; top:0px;}
        15%  {background-color:rgb(228, 228, 150); color:black; left:33.33vw; top:0px;}
        30%  {background-color:rgb(131, 131, 218); color:black; left:33.33vw; top:30vh;}
        45%  {background-color:rgb(166, 234, 166); color: black; left:0px; top:30vh;}
        62% {background-color:rgb(227, 169, 169); color: black; left:-33.33vw; top:30vh;}
        84% {background-color:rgb(224, 133, 249); color: black; left:-33.33vw; top:0px;}
        100% {background-color:rgb(193, 248, 181); color: black; left:0px; top:0px;}
    }

    .s3{
        position: relative;
        animation-name: example3;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
  
    @keyframes example3 {
        0%   {background-color:rgb(228, 134, 134); color:black; left:0px; top:0px;}
        15%  {background-color:rgb(228, 228, 150); color:black; left:0px; top:30vh;}
        30%  {background-color:rgb(131, 131, 218); color:black; left:-33.33vw; top:30vh;}
        45%  {background-color:rgb(166, 234, 166); color: black; left:-66.66vw; top:30vh;}
        62% {background-color:rgb(227, 169, 169); color: black; left:-66.66vw; top:0px;}
        84% {background-color:rgb(224, 133, 249); color: black; left:-33.33vw; top:0px;}
        100% {background-color:rgb(193, 248, 181); color: black; left:0px; top:0px;}
    }

    .s6{
        position: relative;
        animation-name: example6;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
  
    @keyframes example6 {
        0%   {background-color:rgb(228, 134, 134); color:black; left:0px; top:0px;}
        15%  {background-color:rgb(228, 228, 150); color:black; left:-33.33vw; top:0px;}
        30%  {background-color:rgb(131, 131, 218); color:black; left:-66.66vw; top:0px;}
        45%  {background-color:rgb(166, 234, 166); color: black; left:-66.66vw; top:-30vh;}
        62% {background-color:rgb(227, 169, 169); color: black; left:-33.33vw; top:-30vh;}
        84% {background-color:rgb(224, 133, 249); color: black; left:0px; top:-30vh;}
        100% {background-color:rgb(193, 248, 181); color: black; left:0px; top:0px;}
    }

    .s5{
        position: relative;
        animation-name: example5;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
  
    @keyframes example5 {
        0%   {background-color:rgb(228, 134, 134); color:black; left:0px; top:0px;}
        15%  {background-color:rgb(228, 228, 150); color:black; left:-33.33vw; top:0px;}
        30%  {background-color:rgb(131, 131, 218); color:black; left:-33.33vw; top:-30vh;}
        45%  {background-color:rgb(166, 234, 166); color: black; left:0px; top:-30vh;}
        62% {background-color:rgb(227, 169, 169); color: black; left:33.33vw; top:-30vh;}
        84% {background-color:rgb(224, 133, 249); color: black; left:33.33vw; top:0px;}
        100% {background-color:rgb(193, 248, 181); color: black; left:0px; top:0px;}
    }

    .s4{
        position: relative;
        animation-name: example4;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
  
    @keyframes example4 {
        0%   {background-color:rgb(228, 134, 134); color:black; left:0px; top:0px;}
        15%  {background-color:rgb(228, 228, 150); color:black; left:0vw; top:-30vh;}
        30%  {background-color:rgb(131, 131, 218); color:black; left:33.33vw; top:-30vh;}
        45%  {background-color:rgb(166, 234, 166); color: black; left:66.66vw; top:-30vh;}
        62% {background-color:rgb(227, 169, 169); color: black; left:66.66vw; top:0px;}
        84% {background-color:rgb(224, 133, 249); color: black; left:33.33vw; top:0px;}
        100% {background-color:rgb(193, 248, 181); color: black; left:0px; top:0px;}
    }

    /* construction ends */

    .servcard:hover {
        background-color: rgba(189, 5, 189, 0.97);
        border: 3px solid blue;
        color: yellow;
        font-weight: bold;
    }

    .submitbtn:hover{
        width: 10.6vw;
        height:5.5vh;
        background-color: #ac6eea;
        color: white;
        text-transform: capitalize;
        text-shadow: #64f3db;
    }
}

@media screen and (max-width: 799px){
    h1{
        display: block;
        text-align: center;
        margin-left: 20vw;
    }
    ul,li{
        display: none;
    }
    header{
        padding-top: 3vh;
        padding-bottom: 3vh;
        background-color: black;
        height: 15vh;
        font-size: medium;
        text-align: center;
        display: block;
    }
    .intcont{
        height:80vh;
    }
    
    .aboutsection{
        height: 60vh;
    }
    .mypic{
        width: 70vw;
        height: 500px;
        margin-top: 0;
        padding-top: 0;

    }

    .content{
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
    }

    .projectssection{
        height: 460vh;
        row-gap: 2px;
    }

    .card{
        margin-top: 8vh;
        margin-bottom: 8vh;
        height: fit-content;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .pic{
        height: 43vh;
        width: 80%;
    }

    .card1{
        margin-top: 2vh;
    }

    .cardsection{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .webdesc{
        width: 60%;
        height: 42vh;
        background-color: #64f3db;
        place-self: center;
        margin-top: 4vh;
        text-overflow: inherit;
        text-align: justify;
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 3vh;
        padding-bottom: 4.5vh;    
        border: 2px solid blue;
        border-radius: 8px;
        box-shadow: 15px 20px 30px black;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .servgrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 1px;
        row-gap: 1px;    
        width: 100%;
        height: 111vh;
        padding-bottom: 3vh;
    }

    .servhead{
        margin-bottom: 3vh;
    }

    .servcard{
        box-shadow: 5px 6.5px 20px brown;
    }

    .contactsection{
        height: 105vh;
    }
    .formcard{
        height: 70vh;
        padding-left: 10px;
        width: 80vw;
    }

    
}

